<ion-app>

  <ion-menu  type="push" side="start" menuId="menuprincipal" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-icon size="large"  name="person-outline"></ion-icon>
        <ion-title style="text-align: center;">Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" >
        <ion-item routerLink="/ajuste" ><ion-icon name="cog-outline"></ion-icon> Ajustes</ion-item>
        <ion-item routerLink="/help"><ion-icon name="information-circle-outline"></ion-icon> Ayuda y asistencia</ion-item>
        <ion-item routerLink="/interface"><ion-icon name="color-wand-outline"></ion-icon> Personalizar interfaz</ion-item>
        <ion-item routerLink="/home"><ion-icon name="log-out-outline"></ion-icon> Cerrar sesion</ion-item>
      </ion-menu-toggle>
      </ion-list>

    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
