<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="warning" size="small" style="text-align: center;">
    </ion-title>
  </ion-toolbar>
  <ion-card>
  <ion-card-header style="text-align: center;">
      <img src="assets/img/chancho.gif" >
      <ion-card-title >Bienvenido a OinkWallet</ion-card-title>
  </ion-card-header>
  </ion-card>
  <ion-card style="position:relative;"><br>
    <div style="text-align: center;">
    <ion-button [routerLink]="['/iniciarsesion']" routerLinkActive="router-link-active"  color="warning">Iniciar sesion</ion-button>
            <h2 style="text-align: center;">ó</h2>

        <ion-button color="warning" [routerLink]= "['../formulario']">Registrarse</ion-button><br>
        <br>
    </div>
  </ion-card>
</ion-header>
