<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button color="#222428" slot="start" size="small">
      <ion-back-button style="color:#ffc409;" defaultHref="/paginainicial"></ion-back-button>
    </ion-button>
    <ion-title size="large" color="warning" > Personalizar </ion-title>
  </ion-toolbar>
</ion-header>
  <ion-content>
 
    <ion-list>
      <ion-item>
        <ion-label>Tamaño Fuente</ion-label>
      </ion-item>
  
      <ion-item>
        <ion-label>Estilo Fuente</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Diseño Fondo</ion-label>
      </ion-item>
      <ion-item>
        <ion-label></ion-label>
      </ion-item>
  
  
  
    </ion-list>
   
  </ion-content>
